@import url('https://fonts.googleapis.com/css?family=Cardo|Cinzel');
/* font-family: 'Cinzel', serif;
font-family: 'Cardo', serif; */

body {
    background-color: powderblue;
    font-family: 'Cinzel', serif; 
    padding: 0pt 5pt;
    margin: 15pt;
}
h1 {
    font-size: 2em;
    text-align: center;
}
h2 {
    font-size: 1.5em;
    text-align: center;
}
h4 {
    font-family: 'Cardo', serif;
}
.loginButton {
    margin: 5px;
    font-family: 'Cardo', serif;
    font-size: 1em;
    justify-content: center;
    width: 150px;
    background-color: rgb(116, 170, 177); 
}
.weeklyInfo {
    border: 1px solid black;
    
}
.dailyInfo {
    border:1px solid black;
    
}
.date {
    font-size: 1.5em;
    border: 1px solid black;
    background-color: rgb(116, 170, 177); 
    text-align: center;
    padding: 0pt 10pt 0pt 10pt;
    
    /* background-color: rgb(30, 56, 59); */
}
.dailyDetails {
    padding: 10pt;
    text-shadow: 1px 1px whitesmoke
}
.navBar {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-bottom: 0;
}
.vacationForm {
    padding-top: 20pt;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.logoutLink {
    color: rgb(77, 0, 128);
    text-decoration: underline;
    /* padding: 0; */
    line-height: 100%;
}
.homeMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 600px; */
} 
.welcomeText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5%;
    padding-bottom: 2%;
}
.planTrip {
    width: 100px;
    font-family: 'Cardo', serif;
    font-size: 1em;
    /* background-color: rgba(255, 68, 0, 0.342); */
    background-color: rgb(116, 170, 177); 
    padding: 5px;
    margin-top: 2%;
    
}
.saveLocationDiv {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    margin: 5px;
    font-family: 'Cardo', serif;
    font-size: 1em;
}
.submitButton {
    width: 100px;
    font-family: 'Cardo', serif;
    background-color: rgb(116, 170, 177); 
    padding: 5px;
    margin-top: 30px;
}
.saveLocation {
    margin: 5px;
    font-family: 'Cardo', serif;
    font-size: 1em;
    justify-content: center;
    width: 150px;
    background-color: rgb(116, 170, 177); 

} 
.notAMember {
    text-decoration: underline;
}
.authForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.authForm > p {
    text-decoration: underline;
}
.authForm > p:hover {
    cursor: pointer;
}
.appDescription {
    max-width: 600px;
}